@import "tailwindcss";

@theme {
  --color-primary: #0c1821;
  --color-background: #faebd7;
  --color-secondary: #7C4A3C;
  --color-accent: #754437;
  --color-muted: #6b6751;

  --font-sans: 'Outfit', sans-serif;
  --font-heading: 'Syne', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}