---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import Footer from "../components/Footer.astro";
import { client } from "../lib/sanity";

const projects = await client.fetch(`*[_type == "project"] | order(date desc) {
  title,
  slug,
  date,
  image,
  description,
  link
}`);
---

<Layout title="Matheus Melo | Portfolio">
	<Header />

	<main class="overflow-hidden">
		<!-- Experience Section -->

		<!-- Selected Works Section -->
		<section id="work" class="pt-24 md:pt-32 pb-20 bg-background">
			<div class="opacity-0 translate-y-8 animate-on-scroll delay-300">
				<ProjectGrid projects={projects} />
			</div>
		</section>

		<!-- Contact Section -->
		<Footer />
	</main>
</Layout>
